<div style="background-color: white; border-radius: 20px;">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Namn</th>
        <th scope="col" style="text-align: center;">Träffsäkerhet</th>
        <th scope="col" style="text-align: center;">Poäng</th>
      </tr>
    </thead>
    <tbody>
      <% @result.each_with_index do |user, index| %>
      <tr>
        <th scope="row" style="text-align: center;"><%= index + 1 %></th>
        <td><%= user["name"] %></td>
        <td style="text-align: center;"><%= user["points"] %>/<%= @played_games.count %></td>
        <td style="text-align: center;"><%= user["points"] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>